:root {
	--bg-color: black;
	--green-color: #72db73;
	--dark-green-color: #148a08;
	--gray-color: #292929;
	--link-color: #346bd4;
	--white-color: #fff;

	--profile: #5746ea;
	--profile-category: #9f94ff;
	--weather-pink: #ff4ade;
	--weather-blue: #101744;
	--notes-yellow: #f1c75b;

	--timer-blue: #1e2343;
	--timer-pink: #ff6a6a;
}
