:root {
	--bg-color: #f5f5f5;
	--green-color: #72db73;
	--dark-green-color: #148a08;
	--gray-color: #292929;
	--link-color: #346bd4;
	--black-color: #000;

	--bp-largest: 75em;
	--bp-large: 68.75em;
	--bp-medium: 59.3em;
	--bp-small: 43.75em;
	--bp-smallest: 34.3em;
}
